<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="http://training-static.linesno.com/switch_run/favicon.ico" />
        <title>用户后台</title>
        <link href="http://training-static.linesno.com/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://training-static.linesno.com/sb-admin/css/sb-admin.css" rel="stylesheet">
        <link href="http://training-static.linesno.com/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="http://training-static.linesno.com/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    </head>

    <body >
    		<div class="container-fluid">
    			<br/>
    			<form>	
    				 <input type="hidden" name="id" id="id" th:value="${session.USER_MESSAGE.id}" />
				  <div class="form-group">
				    <label for="exampleInputEmail1">当前账号</label>
				    <input type="text" class="form-control" name="account" id="account" th:value="${session.USER_MESSAGE.account}"   placeholder="当前账号" disabled="disabled">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">修改密码</label>
				    <input type="password" class="form-control" name="c_pwd" id="c_pwd" placeholder="修改密码">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">确定修改密码</label>
				    <input type="password" class="form-control" name="repeat_pwd" id="repeat_pwd" placeholder="确定修改密码">
				  </div>
				  
				  <br/>
				  <button type="button" onclick="changePwd()" class="btn btn-primary btn-lg btn-block">保存</button>
			</form>
			<div id="warning" class="alert alert-warning" style="display:none">
				<a href="#" class="close" data-dismiss="alert">
					&times;
				</a>
				<strong>警告！</strong>两次密码输入不一致
			</div>
			
		</div>
		
		<script src="http://training-static.linesno.com/vendor/jquery/jquery.min.js"></script>
		<script src="http://training-static.linesno.com/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="http://training-static.linesno.com/layer/layer.js"></script>
		
		<script type="text/javascript">
		function changePwd(){
			
			/* var _id = $("input[name=id]").val() ; 
			var _account = $("input[name=account]").val() ; 
			var _c_pwd = $("input[name=c_pwd]").val() ; 
			var _repeat_pwd= $("input[name=repeat_pwd]").val() ; */ 
			
			var value_id = document.getElementById("id").value;
			var value_pwd = document.getElementById("c_pwd").value;
			var value_pwd_r = document.getElementById("repeat_pwd").value;
			var value_account = document.getElementById("account").value;
			
			alert("输入检测"+value_pwd+value_pwd_r);
			
			if(value_pwd!=value_pwd_r||value_pwd==""||value_pwd_r==""){
				$('#warning').toggle();;
			}else{
				$.post("/change_password" , {id:value_id, password:value_pwd_r},function(response){
					console.log("response = " + response) ;
					layer.msg(response.message);
					if(response.code == 400){
		    	  		  alert(response.message);
		    	  	  }else if(response.code == 200){
						  alert("修改成功！请重新登录");	
						  var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
						  parent.layer.close(index); //关闭子页面
		    	  		  window.parent.location = "/logout" ; //重定向父页面
		    	  	  }
				});
			}
			
			
			
			
			/* $.post("/manager/school_modify_save" , {
				id:_id ,
				schoolCode:_schoolCode ,
				schoolName:_schoolName ,
				schoolOrder:_schoolOrder,
			} , function(response){
				console.log("response = " + response) ;
				layer.msg(response.message);
			}) */
		}
		</script>
		
    </body>
</html>
